fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
sentence-transformers
faiss-cpu
ragas
pandas
python-dotenv
datasets
sentencepiece
transformers
google-generativeai
